.App {
  text-align: center;
}

.form-layout{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputs{
  margin: 10px;
  
}
.inner-tab{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: white;
}


/* TIMER */
.timer-name{
  display: flex;
  justify-content: center;
}
.timer-name:first-child{
  color:green;
  font-size: 20px;
  text-decoration: underline;
}
.countdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.1em auto;
  width: 75vmin;
  height: 25vmin;
  font: 5em/2 ubuntu mono, consolas, monaco, monospace;
}
.countdown__label {
  width: 75vmin;
  height: 30vmin;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
}
.tiles-timer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55vmin;
  height:25vmin;
  top: 0;
  font-size: 12px;
}

.btns-timer{
  display: flex;
  justify-content: center;
  margin-top: 10vmin;
}

.finish{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font: 15vmin ubuntu mono, consolas, monaco, monospace;
  background-color: red;
  color: white;
}